---
---

@import "{{ site.theme }}";

$font-family: "Courier New", Courier, monospace;
$black: #1b121a;
$purple: #60205b;
$purple-2: #84157b;
$link-color: $purple-2;
$blog-date: #FFFFFF;

#header_wrap {

    background: #582658; 
	
	p {
	color: $blog-date;
	}
}

#footer_wrap {
    background: #582658;
}

#main_content_wrap {
    border-bottom: none;
}

h2 {
    background: none;
}

body  {
	font-family: $font-family;
	background: #f2f2f2;
}

h1, h2, h3, h4, h5, h6 {

	font-family: $font-family;

}

p {
    font-size: 20px; 
}

a {

 color: $link-color;
 
}

.pagination {
    border-top: 1px solid;
    padding: 1rem 0;
    margin: 2rem 0 0 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1rem;
    width: 100%;
}

.blog-link { 
    a { color: #FFFFFF;
	font-size: 20px;
	font-family: $font-family;
	text-decoration: underline;
	   }
}

#project_title {
    margin: 0;
    color: #fff;
    font-family: $font-family;
    font-size: 42px;
    font-weight: 700;
    text-shadow: #111 0px 0px 10px;
}
