---
---

@import "{{ site.theme }}";

#header_wrap {

    background: #582658; 
}

#footer_wrap {
    background: #582658;
}

body {
    background: #f2f2f2;
}

#main_content_wrap {
    border-bottom: none;
}

h2 {
    background: none;
}
